.message {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;

    &__info {
        padding: 20px 20px 20px 10px;
    }

    &__timestamp {
        color: #7b7c85;
        margin-left: 20px;
        font-size: 1erm;
    }
}
