.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #666;

    &__message {
        flex-grow: 1;
    }

    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: #474b53;
        border-radius: 5px;
        margin: 20px;
        color: lightgray;

        & form {
            flex-grow: 1;

            & input {
                width: 100%;
                padding: 15px;
                background: transparent;
                border: none;
                outline: none;
                color: #fff;
                font-size: large;
            }

            & .chatInputButton {
                display: none;
            }
        }

        & .chatInputIcons {
            & .MuiSvgIcon-root {
                padding: 5px;
            }
        }
    }
}
